.page-body {font-family: sans-serif;
}
.conteiner {
    max-width: 1280px;
margin-left: auto;
margin-right: auto;
}
.page-title {font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    color: #000000;
margin-top: 63px;
margin-bottom: 38px;}
.accent-color {color: #4BCAFF;}
.menu {list-style: none;
    padding-left: 0;
    margin-bottom: 48px;
background-color: #35444F;
display: flex;
justify-content: center;
margin-top: 0;}
.menu-item {
    padding:26px 40px 19px;
border-left: 1px solid #FFFFFF;
transition: all 1s ease;
}
.menu-item4 {
    padding:26px 40px 19px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;}
.item-hover:hover{background-color: #222F3A;
}

.menu-item-link {font-size: 24px;
    line-height: 28px;
    transition: all 1s ease;
    overflow: hidden;
color: #FFFFFF;}
.aside-menu {list-style: none;
    width: 344px;
display: flex;
flex-direction: column;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
border: 1px solid #000000;
}
.aside-menu-link {font-size: 27px;
    line-height: 27px;
    margin-left: 44px;
color: #485863;
transition: all 1s ease;
}
.hover-item2{transition: all 1s ease;}
.aside-item {padding:26px 0;}
.hover-item2:hover{background-color: #DBDBDB;
}
.link-hover-aside:hover{margin-left: 74px;
    color: #000000;
}
.main-block {max-width: 885px;}
.image{width: 885px;
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.img{
transition: all 2s ease;
}
.img:hover{transform: scale(1.3);}
.text {font-size: 18px;
    line-height: 24px;
color: #2C2C2C;
margin-top: 37px;
margin-bottom: 34px;}
.text1 {font-size: 18px;
    line-height: 24px;
color: #2C2C2C;
margin-top: 0;
margin-bottom: 54px;}
.flex {display: flex;
justify-content:space-between;}
.footer-menu {list-style: none;
display: flex;
justify-content: center;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
.footer-menu-item {font-size: 28px;
    line-height: 28px;
padding-top: 21px;
padding-bottom: 21px;
margin:0 10px;
}
.footer-menu-link {color: #0C1927;
 }
 .footer-hover{border-bottom:1px solid #0C1927;
    padding-bottom: 13px;
transition: all 1s ease;
}
.footer-hover:hover {color: #3181A6;
    border-bottom:1px solid #3181A6;
    padding-bottom: 13px;
}
.footer-copyright {
    font-size: 24px;
    line-height: 24px;
    padding-top: 21px;
    color: #010101;
}
.footer{display: flex;
justify-content: space-around;
background: rgba(99, 105, 110, 0.48);
}
